.main-container {
  margin: 250px auto;
    width: 375px;
    margin: auto;
    position: relative;
  }

  @media (min-width: 1100px) {
    .content {
      display: flex;
      padding: 85px 24px;
    }
  }

  @media (min-width: 1200px) {
    .main-container {
      width: 1100px;
    }
  }



.about {
    display: flex;
    align-items: center;
    justify-content: space-around;
  height: 350px;
  background-size: 400px;
  width: 900px;
}


