@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500&display=swap');


:root {
    --dark-cian: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}



h1 {
    text-align: center;
    color: rgb(28, 25, 30);
    font-family: 'Fraunces', serif;
}

h2{
  text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: 0px auto;
    margin-top: 75px;
}

.card_container{
    max-width: 350px;
    display: flex;
}

.img img {
    max-width: 100%;
    display: inherit;
}

.card{
     cursor: pointer;
    height: 620px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding: 35px;
}

.price{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left{
    font-family: 'Fraunces', serif;
    font-size: 30px;
    color: var(--dark-cian);
}

p{
    text-align: center;
    font-family: 'Fraunces', serif;
    padding-right: 25px;
}

.right{
    font-size: 10px;
    text-decoration: line-through;
}

button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0px solid;
    border-radius: 3%;
    background-color:var(--dark-cian) ;
    height: 40px;
    color: white;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    cursor: pointer;
   margin: 0px auto;
 }



.form_container{
    display: flex;
    flex-direction: row;
}

input::placeholder{
    text-align: center;
}

input{
    text-align: center;
}

button img{
    height: 30px;
    width: 30px;
}

button:hover{
    background-color: hsl(158, 36%, 23%);
}

@media (max-width: 1150px) {

main{
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

   .card_container{
    display: flex;
    max-width: 200px;
   }

   #imagen{
    content: url("https://facu6m.github.io/card/images/image-product-desktop.jpg");
   }

   #texto{
    padding: 40px;
   }
}

@media (max-width: 780px) {

main{
    margin: 0px auto;
    width: 400px;
}

.card{
    height: 520px;
}

}