@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box  ;
}


body{
  font-family: "Kumbh Sans", sans-serif;
}

.img_background{
  background-image: url("https://wallpaperaccess.com/full/767356.jpg  ") ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

